*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
html{
    font-family: Microsoft YaHei, serif;
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
.whole{
    max-width: 640px;
    margin: auto;
    min-width: 320px;
    background-color: #29bde0;
}
.page-header{
    overflow: hidden;
    padding: 3% 2%;
    border-bottom: 1px solid #74d4eb;
}
.header-auto{
    text-align: center;
    font-size: 3.4rem;
    color: #fff;
}
.header-left{
    float: left;
    width: 5%;
}
.header-right{
    float: right;
    padding: 5px;
    width: 7%;
}
.page-footer{
    padding: 1% 0;
    max-width: 640px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #29bde0;
}
.page-footer-button{
    display:block;
    width: 85%;
    background-color: #fbb435;
    text-align: center;
    color: #fff;
    font-size: 4.8rem;
    padding: 3% 0;
    margin: auto;
}
@media (max-width: 590px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 35%;
    }
}

.flop{
    width: 80%;
    margin: 10% auto 15% auto;
    text-align: center;
    background-color: #ffedc5;
    border: #fff solid 6px;
    position: relative;
    height: 650px;
}
.flop-num{
    font-size: 4rem;
    color: #f56b81;
    display: inline-block;
    vertical-align: middle;
    height: 10%;
    width: 13%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    top: -6%;
    border: solid 3px #ffedc5;
    padding-top:1%;
}
.flop-img{
    margin: 30% auto 0 auto;
    width: 55%;
}
.flop-font{
    font-size: 4rem;
    color: #29bde0;
    padding-top: 6%;
}
.game{
    padding: 10% 0 30% 0;
    overflow: hidden;
}
.game li{
    width: 24%;
    display: inline-block;
    margin: 0 0 7% 7%;
    float: left;
}
.game div {
    background-color: #f5c97b;
    border: 5px #FFFFFF solid;
}
.game span {
    display: block;
    font-size: 3rem;
    text-align: center;
    padding: 28% 0 16% 0;
}
.game p{
    background-color: #83b09a;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.2rem;
    padding: 4% 0;
}