*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Microsoft YaHei", serif;
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
@media (max-width: 590px){
    html{
        font-size: 50%;
    }
}
@media (max-width: 470px){
    html{
        font-size: 34%;
    }
}
.whole{
    max-width: 720px;
    margin: auto;
    min-width: 320px;
}
.header-img{
    position: relative;
    width: 5.8%;
    padding: 2% 4% 0 0;
    display: inline-block;
    float: right;
}
.header-one{
    text-align: center;
    font-size: 3.4rem;
    background-color: #5fc0cd;
    overflow: hidden;
}
.nav-one{
    display: inline-block;
    background-color: #55a8b3;
    color: #5fc0cd;
    border-radius: 1rem;
    padding: 1.4% 3.4%;
    margin: 1% 0;
}
.nav-two{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 1rem;
    color: #5fc0cd;
    padding: 1.4% 3.4%;
    margin: 1% -2.5%;
}
.introduce-one li{
    display: inline-block;
    width: 32.9%;
    font-size: 2.8rem;
    color: #999999;
    float: left;
}
.drop{
    text-align: center;
    overflow: hidden;
    padding: 2% 0;
    border-right: solid 1px #e1e5e7;
}
.drop img{
    float: right;
    padding: 7% 7% 0 0;
}
.drop1{
    text-align: center;
    overflow: hidden;
    padding: 2% 0;
}
.drop1 img{
    float: right;
    padding: 7% 7% 0 0;
}
.introduce-one{
    border-bottom: solid 1px #e1e5e7;
    overflow:hidden;
}
.date-one{
    font-size: 2.8rem;
    color: #999999;
    padding: 2.1% 0 1.5% 4.1%;
}
.date-one img{
    width: 3.5%;
    padding-right: 2%;
}
.date-two{
    font-size: 2.8rem;
    padding-left:9%;
}
.two-1{
    float: right;
    margin-right: 5%;
    color: #e63b0e;
}
.two-1 img{
    padding-left: 1rem;
    vertical-align: middle;
    width: 11%;
}
.date1{
    border-bottom:  1px solid #e1e5e7;
    padding: 3% 0;
}
.ending{
    background-color: #f8fafb;
    position: fixed;
    width: 100%;
    max-width: 720px;
    bottom: 0;
    min-width: 320px;
}
.ending-one{
    width: 8%;
    display: inline-block;
    font-size: 2rem;
    color: #5fc0cd;
    text-align: center;
    margin-left: 23%;
}
.ending-two{
    width: 13%;
    display: inline-block;
    border:  1px solid #5fc0cd;
    background-color: #5fc0cd;
    border-radius: 50%;
    text-align: center;
    margin-left: 14%;
}
.ending-two img{
    padding: 29%;
    width: 43%;
}
.ending-three{
    width: 8%;
    display: inline-block;
    font-size: 2rem;
    color: #999999;
    text-align: center;
    margin-left: 14%;
}

