*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Microsoft YaHei, serif
}
body{
    min-width: 320px;
    background-color: #eff0f4;;
}
.whole{
    width: 100%;
}
img{
    max-width: 100%;
}
.header{
    background-color: #5fc0cd;
    overflow: hidden;
}
.header a{
    text-decoration: none;
    color: #ffffff;
}
.header-one{
    float: left;
    line-height: 88px;
    font-size: 3.2rem;
    margin-left: 4.6%;
}
.header-two{
    text-align: center;
    line-height: 88px;
    display: block;
    font-size: 3.6rem;
}
.header-three{
    float: right;
    line-height: 88px;
    font-size: 3.2rem;
    margin-right: 4.6%;
}
.input-one{
    background-color: #FFFFFF;
    margin-top: 30px;
}
.input-one img{
    margin: 3% 0 2% 3%;
    vertical-align: middle;
    border-right: solid 2px #eaedee;
    padding-right: 3%;
}
input{
    width: 70%;
    font-size: 3.2rem;
    padding: 3% 3% 2% 3%;
    vertical-align: middle;
    outline: none;
    border: none;
}
.entry a{
    display: block;
    text-align: center;
    line-height: 100px;
    background-color: #5fc0cd;
    font-size: 3.6rem;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 70px;
}
.forget{
    text-align: right;
    font-size: 3.2rem;
    color: #5fc0cd;
    margin: 2% 2.5% 0 0;
}
@media (max-width: 500px){
    html{
        font-size: 45%;
    }
}