*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Microsoft YaHei, serif
}
body{
    max-width: 640px;
    margin: auto;
    width: 100%;
 }
li{
    list-style-type: none;
}
img{
    max-width: 100%;
}
.header{
    background-color: #22292c;
}
.header {
    overflow: hidden;
}
.return a{
    text-decoration:none;
    font-size: 2.6rem;
    line-height: 88px;
    color: #FFFFFF;
    float: left;
}
.return img{
    vertical-align: middle;
    padding: 0 5px 0 15px;
}
.mirror{
    color: #FFFFFF;
    font-size: 3.3rem;
    line-height: 88px;
    text-align: center;
}
.load {
    float: right;
    line-height: 88px;
    margin-right: 17px;
}
.page{
    background-color: #68cdd5;
}
.return-two img{
    padding: 2.4% 0 0  5.4%;
}
.grape{
    text-align: center;
    padding-top: 4.2%
}
.introduce{
    width: 70.6%;
    margin: auto;
    font-size: 3rem;
    line-height: 55px;
    color: #FFFFFF;
    padding-top: 12.3%;
}
.icon{
    overflow: hidden;
    padding: 17.6% 0 19.8% 0;
}
.icon p{
    width: 50%;
    float: left;
    text-align: center;
}
.icon span{
    display: block;
    font-size: 2.4rem;
    color: #FFFFFF;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}