*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Microsoft YaHei", serif;
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
@media (max-width: 590px){
    html{
        font-size: 50%;
    }
}
@media (max-width: 470px){
    html{
        font-size: 34%;
    }
}
.whole{
    max-width: 640px;
    margin: auto;
    min-width: 320px;
    background-color: #29bde0;
}
.header{
    color: #FFFFFF;
    font-size: 3.4rem;
    text-align: center;
    padding: 3% 4% 1.5% 4%;
}
.header-one{
    width: 7%;
    float: left;
}
.header-two{
    width: 7%;
    float: right;
}.header h3{
    display: inline-block;
 }
.header-one img,.header-two img{
    vertical-align: middle;
}
.header-three{
    overflow: hidden;
    background-color: #b9e9f5;
}
.header-three a{
    display: inline-block;
    width: 8%;
    float: right;
    padding: 1.5% 3% 1.5% 0;
}
.header-three p{
    font-size: 2.6rem;
    display: inline-block;
    padding: 3% 5%;
}
.triangle {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #b9e9f5;
    margin-left: 10%;
}
.font{
    color: #FFFFFF;
    padding-left: 10%;
    padding-bottom: 5%;
    font-size: 2.4rem;
}
.choice{
    overflow: hidden;
}
.choice li{
    width: 24%;
    display: inline-block;
    margin-left: 7%;
    float: left;
}
.choice-op div{
    background-color: #f5c97b;
    border: 5px #FFFFFF solid;

}
.choice-op span{
    display: block;
    font-size: 3rem;
    text-align: center;
    padding: 28% 0 16% 0;
}
.choice-op p{
    background-color: #83b09a;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.2rem;
    padding: 4% 0;
}
.choice-op img{
    width: 98%;
    padding: 15% 0;
    opacity: 0;
    transition: opacity 2S;
}
.choice-op img:hover{
    opacity: 1;
}
.die{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    background-color: #29bde0;
    min-width: 320px;
}
.die a{
    display: block;
    width: 80%;
    background-color: #fbb435;
    margin: 5% auto;
    color: #FFFFFF;
    font-size: 4rem;
    text-align: center;
    padding: 3% 0;
}