*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
html{
    font-family: Microsoft YaHei, serif;
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
.whole{
    max-width: 640px;
    margin: auto;
    min-width: 320px;
    background-color: #29bde0;
}
.page-header{
    overflow: hidden;
    padding: 3% 2%;
    border-bottom: 1px solid #74d4eb;
}
.header-auto{
    text-align: center;
    font-size: 3.4rem;
    color: #fff;
}
.header-left{
    float: left;
    width: 7%;
}
.header-right{
    float: right;
    padding: 5px;
    width: 7%;
}
.page-footer{
    padding: 1% 0;
    max-width: 640px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #29bde0;
}
.page-footer-button{
    display:block;
    width: 85%;
    background-color: #fbb435;
    text-align: center;
    color: #fff;
    font-size: 4.8rem;
    padding: 3% 0;
    margin: auto;
}
@media (max-width: 590px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 35%;
    }
}

.flop{
    width: 80%;
    margin: 10% auto 15% auto;
    text-align: center;
    background-color: #ffedc5;
    border: #fff solid 6px;
    position: relative;
    height: 650px;
}
.flop-num{
    font-size: 4rem;
    color: #f56b81;
    display: inline-block;
    vertical-align: middle;
    height: 10%;
    width: 13%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    top: -6%;
    border: solid 3px #ffedc5;
    padding-top:1%;
}
.flop-img{
    margin: 30% auto 0 auto;
    width: 55%;
}
.flop-font{
    font-size: 4rem;
    color: #29bde0;
    padding-top: 6%;
}
.game{
    padding: 10% 0 30% 0;
    overflow: hidden;
}
.LiSi{
    width: 24%;
    display: inline-block;
    margin: 0 0 7% 7%;
    float: left;
    background-color: #f5c97b;
}
.DivBox{
    border: 5px #FFFFFF solid;
}
.JueSe {
    display: block;
    font-size: 3rem;
    text-align: center;
    padding: 28% 0 16% 0;
}
.XuHao{
    background-color: #83b09a;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.2rem;
    padding: 4% 0;
}
/*任务4-1*/
.content{
    background:#f0f0f0;
    padding: 5% 2%;

}
.content-header{
    background: #FFF;
    border: solid #c9c9c9 1px;
}
.content-days{
    font-size: 3rem;
    color: #29bde0;
    padding: 3% 3%;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
}
.drop-down{
    width: 5%;
    float: right;
    padding:3% 0;
}
.content-inside{
    background: #FFF;
    border: solid #c9c9c9 1px;
    margin-top: 12px;
    overflow: hidden;
    position: relative;
}
.arrow-top{
    position: absolute;
    left: 46%;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;  /* 左边框的宽 */
    border-right: 14px solid transparent; /* 右边框的宽 */
    border-bottom: 14px solid #FFFFFF; /* 下边框的长度|高,以及背景色 */
}
.content-subject{
    width: 90%;
    float: right;
    border-left: solid 2px #c9c9c9;
}
.content-subject li{
    list-style-type: none;
    width: 80%;
    margin:0 0 3% 13%;
    background: #24a7c6;
    color: #FFF;
    text-align: center;
    font-size: 3.0rem;
    position: relative;
    padding: 3% 0;
}
.content-subject ul{
    margin: 10% 0;
}
.arrow-left{
    width: 0;
    height: 0;
    border-bottom: 13px solid transparent;  /* 下边框的高 */
    border-top: 13px solid transparent; /* 上方边框的高 */
    border-right: 18px solid #24a7c6; /* 右边框的长度|宽度，以及背景色 */
    position: absolute;
    left: -4%;
    top: 35%;
}
.content-img{
    position: absolute;
    border: solid 2px #c9c9c9;
    left: 4%;
    background: #FFFFFF;
    border-radius: 50%;
    padding: 15px 10px 10px 17px;
    top: 6%;
}
.content-night{
    background: url("JS-04/JS4-2.png") no-repeat;
    width: 38px;
    height: 41px;
}
.content-img-bo{
    position: absolute;
    border: solid 2px #c9c9c9;
    left: 4%;
    background: #FFFFFF;
    border-radius: 50%;
    padding: 18px 14px 10px 15px;
    top: 53%;
}
.content-day{
    background: url("JS-04/JS4-3.png") no-repeat;
    width: 38px;
    height: 41px;
}
#killer{
    cursor:pointer;
}
/*任务4-2*/
.Killer-eyes{
    background: #b9e9f5;
    overflow: hidden;
    padding:  2% 10%;
}
.Killer-eyes span{
    font-size: 2.6rem;
    padding: 2% 0;
    display: inline-block;
}
.Killer-eyes img{
    float: right;
    width: 10%;
}
.Killer-eyes-bottom{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #b9e9f5;
    margin-left: 16%;
}
.Killer-eyes-font{
    font-size: 2.2rem;
    color: #FFF;
    margin-left: 15%;
}

.boxLi span{
    background-color:    #83b09a;
}
/*任务4-3*/
.Play{
    padding-bottom: 20%;
}
.content-Play{
    text-align: right;
    margin:5% 4% 0 0 ;
}
.content-Play img{
    width: 10%;
}
.content-Cry{
    text-align: center;
}
.content-Cry img{
    width: 40%;
}
.content-process{
    width: 70%;
    margin: 5% auto;
    text-align: center;
}
.content-process p{
    background: #24a7c6;
    color: #FFFFFF;
    font-size: 3.4rem;
}
.BjYs{
    background: #5e5e5e;
}
.BjYs2{
    background: #5e5e5e;
}
.GG li{
    font-size: 2.5rem;
    color: #FFF;
    margin: 5% 0;
}