/*
   //rem 来配备设备的宽度，从而来达到在各种手机设备中 元素的宽的比例正常
   //vh css3的属性 将移动手机viewport的高平均分成100份.1vh代表一份。来匹配手机可视区viewport的高，从而减少出现下拉条的出现
*/

html,body,p,h2,h3,h4,pre,button,div{
    margin:0;
    padding:0;
}
html{
    margin:0 auto;
    max-width:768px;
    min-width:320px;
}
body{
    width:100%;
    height:100%;
    max-width:768px;
    min-width:320px;
    position:relative;
    font-family:"Arial,Console,Verdana,Courier New";
}
/*header*/
.public_header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:8vh;
    max-width:768px;
    min-width:320px;
    margin:0 auto;
    border-bottom:1px solid #74d4eb;
    z-index:2;
    background-color:#29bde0;

}

.public_header img{
    display:block;
    width:100%;
}

.public_header_leftMenu{
    position:absolute;
    left:0.22rem;
    top:0;
    bottom:0;
    margin:auto;
    width:0.44rem;
    height:0.44rem;
}

.public_header_rightMenu{
    position:absolute;
    right:0.22rem;
    top:0;
    bottom:0;
    margin:auto;
    width:0.44rem;
    height:0.44rem;
}
/*body*/
.public_body{
    height:89.5vh;
    margin-top:8vh;
    padding-top:2.5vh;
    max-width:768px;
    min-width:320px;
    background-color:#f0f0f0;

}
.public_playerSet_wrap{
    width:6.07rem;
    margin:0 auto;
}
.viewCard-wrap{
    width: 100%;
    background: #29bde0;
    overflow: hidden;
}
.viewCard-block{
    position: relative;
    border: 0.06rem #fff solid;
    width: 4.66rem;
    background: #ffedc5;
    margin: 16vh auto 12vh auto;
}
.viewCard-logo img{
    width: 3rem;
}
.viewCard-logo{
    margin:1.61rem 0;
    text-align: center;
}
.viewCard-num{
    position: absolute;
    top: -0.38rem;
    left: 2rem;
    text-align: center;
    border: solid 0.04rem #ffedc5;
    border-radius: 50%;
    color: #f56b81;
    background: #fff;
    font-size: 0.4rem;
    width: 0.68rem;
    height: 0.68rem;
}
.viewCard-num span{
    vertical-align: middle;
}
.viewCard-footer{
    height: 14.3vh;
    text-align: center;
}
.viewCard-btn{
    height: 8.4vh;
    color: #fff;
    background: #fbb435;
    width: 4.9rem;
    font-size: 0.48rem;
}