@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Microsoft YaHei, serif;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrap{
    min-width: 1200px;
}
.register-header{
    background: #f4f4f4;
}
.register-wrap{
    width: 1200px;
    font-size: 14px;
    margin: auto;
}
.register-message{
    line-height: 40px;
    font-size: 14px;
    color: #999999;

}
.register-message a{
    color: #999999;
}
.message-right{
    float: right;
}
.message-right span{
    margin-left: 26px;
}
.message-right div{
    display:inline-block;
    margin-left: 44px;
}
.DL{
    border-right: 1px #999999 solid;
    padding-right: 10px;
    margin-right: 10px;
}
.message-right b:hover{
    color: #4ea4fe;
}