<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <script src="../vendor/angular/angular.js"></script>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
    <div ng-controller="cartController" class="container">
        <table class="table" ng-show="cart.length">
            <thead>
                <tr>
                    <th>产品编号</th>
                    <th>产品名字</th>
                    <th>够买数量</th>
                    <th>产品单价</th>
                    <th>产品总价</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in cart">
                    <td>{{x.id}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.quantity}}</td>
                    <td>{{x.price}}</td>
                    <td>{{x.price*x.quantity}}</td>
                    <td><button type="button" class="btn btn-danger" ng-click="remove(x.id)">移除</button></td>
                </tr>
            <tr>
                <td>总购买价</td>
                <td>{{totalPrice()}}</td>
                <td>总购买数量</td>
                <td>{{totalNum()}}</td>
                <td colspan="2"><button type="button" class="btn btn-danger" ng-click="DeleteOn()">清空购物车</button></td>
            </tr>
            </tbody>
        </table>
        <p ng-show="!cart.length">您的购物车为空</p>
    </div>
</body>
<script src="main.js"></script>
</html>